<footer class="py-8 px-6 lg:px-16 border-t border-zinc-100 bg-white mt-auto">
  <div
    class="max-w-[1920px] mx-auto flex flex-col md:flex-row justify-between items-center gap-6"
  >
    <p class="text-[10px] text-text-muted font-bold tracking-widest uppercase">
      © 2024 Diego Martínez.
    </p>
    <div class="flex gap-8">
      <a
        class="text-[10px] font-bold text-text-muted hover:text-text-main transition-colors uppercase tracking-widest"
        href="#">Github</a
      >
      <a
        class="text-[10px] font-bold text-text-muted hover:text-text-main transition-colors uppercase tracking-widest"
        href="#">LinkedIn</a
      >
      <a
        class="text-[10px] font-bold text-text-muted hover:text-text-main transition-colors uppercase tracking-widest"
        href="#">Email</a
      >
    </div>
  </div>
</footer>
