---
import "../styles/globals.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{title}</title>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body
    class="bg-[#ffffff] text-[#18181b] font-sans antialiased selection:bg-[#0b3d91]/20 selection:text-[#0b3d91] flex flex-col min-h-screen overflow-x-hidden relative"
  >
    <div
      class="fixed top-0 right-0 w-full lg:w-[35%] h-full bg-[#fafafa] -z-10 border-l border-zinc-50/50 hidden lg:block"
    >
    </div>
    <slot />
  </body>
</html>
